{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us..</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce!!!</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus lacus eros, et sollicitudin nisl ultrices vitae. In felis enim, laoreet quis porttitor at, viverra in lorem. Nulla dignissim ultricies urna. Donec id ex nunc. Duis in tortor rhoncus, iaculis diam nec, condimentum leo. Curabitur sapien risus, vehicula aliquam tincidunt venenatis, viverra quis metus. Quisque nec nisi ligula. Fusce sit amet interdum nisl. Cras egestas purus varius mauris sodales, eget dapibus ipsum lacinia.
<br/><br/>
Suspendisse vel accumsan felis. Maecenas venenatis nunc arcu, sollicitudin venenatis nibh eleifend a. Nunc placerat, lectus eget pharetra luctus, urna ligula dictum nulla, in tempus urna nulla et est. Maecenas non lorem ut est hendrerit volutpat at id dolor. Proin molestie, quam ac blandit tristique, enim risus imperdiet nisi, in pharetra mauris metus ac neque. Integer id lorem eu nunc egestas molestie non nec enim. Pellentesque sit amet nulla id risus laoreet placerat id sed lorem.

Quisque viverra tincidunt nulla sed vehicula. Donec auctor erat eu tempor posuere. Etiam sollicitudin nunc dui, in tristique mi dictum ut. Nullam gravida mauris vel nibh finibus facilisis. Aliquam fermentum justo vitae nunc aliquet, in pharetra quam lobortis. Integer interdum quam sed lectus tincidunt, vel laoreet elit tincidunt. Sed porta erat quam, et finibus felis pharetra et. Cras nec mi massa. Morbi ut elit est. Suspendisse hendrerit ullamcorper ipsum, vel scelerisque odio ultrices ut. Maecenas vitae velit euismod, elementum lacus non, mattis libero. In eros orci, volutpat volutpat est ut, dictum mattis elit.
</p>
<br/><br/>
                    </div>
                </center>
            </div>

        </div>
{% endblock %}